<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <div class="edit-container">
      <h1 class="header-title">Update account info</h1>
        <form action="/edit/update" method="post">
          <div class="account-info">
            <input autocomplete="off" name="accountName" placeholder="Account name" class="bottom-border-input" value=<%=account.accountName%>>
            <input autocomplete="off" name="username" placeholder="Username" class="bottom-border-input" value=<%=account.accountUsername%>>
            <input autocomplete="off" name="password" placeholder="Password" type="text" value=<%=account.accountPassword%> class="bottom-border-input">
            <input style="display: none;" name="id" value=<%=account._id%>>
            <button class="main-button center" type="submit">Save</button>
          </div>
        </form>
    </div>

    
       
  </body>
</html>