<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="home-container">
      <h1 class="header-title">Accounts</h1>
      <div class="account-list">
        <% information.forEach(account => { %>
          <div class="accounts">
            <h2 class="accountName"><%=account.accountName%></h3>
            <p class="username">Username: <%=account.accountUsername%></p>
            <div class="password-container">
              <label class="password">Password:</label>
              <input class="passwordInput" value=<%=account.accountPassword%> readonly> 
            </div>
            
            
            <div class="option-container">
              <form class="option" action="/edit" method="post">
                <a href="/edit">
                  <button class="option-button" name="id" value=<%=account._id%>>EDIT</button>
                </a>
              </form>

              <form class="option" action="/delete" method="post">
                <button class="option-button" name="id" value=<%=account._id%>>DELETE</button>
              </form>  
            </div>

          </div>
      <% }); %>
    </div>

      <form class="form-container"action="/home" method="post">
          <button class="account-add-button">Add New Account!</button>
      </form>
    </div>


    
       
  </body>
</html>